<!DOCTYPE html>
<html lang="en">

<head>
	<title>Bid Racer Advertiser</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="../../css/advertiser-dash/bootstrap.min.css" />
	<link rel="stylesheet" href="../../css/advertiser-dash/font-awesome.css" />
	<link rel="stylesheet" href="../../css/advertiser-dash/fullcalendar.css" />
	<link rel="stylesheet" href="../../css/advertiser-dash/jquery.jscrollpane.css" />
	<link rel="stylesheet" href="../../css/advertiser-dash/unicorn.css" />
	<!--[if lt IE 9]>
		<script type="text/javascript" src="../../js/advertiser-dash/respond.min.js"></script>
		<![endif]-->

</head>

<body data-color="grey" class="flat">
	<script src="../../js/advertiser-dash/excanvas.min.js"></script>
	<script src="../../js/advertiser-dash/jquery.min.js"></script>
	<script src="../../js/advertiser-dash/jquery-ui.custom.js"></script>
	<script src="../../js/advertiser-dash/bootstrap.min.js"></script>
	<script src="../../js/advertiser-dash/jquery.flot.min.js"></script>
	<script src="../../js/advertiser-dash/jquery.flot.resize.min.js"></script>
	<script src="../../js/advertiser-dash/jquery.sparkline.min.js"></script>
	<script src="../../js/advertiser-dash/fullcalendar.min.js"></script>

	<script src="../../js/advertiser-dash/jquery.nicescroll.min.js"></script>
	<script src="../../js/advertiser-dash/unicorn.js"></script>
	<script src="../../js/advertiser-dash/unicorn.dashboard.js"></script>
	<div id="wrapper">
		<div id="header">
			<h1><a href="./addash-index.html">Under Armour</a></h1>
			<a id="menu-trigger" href="#"><i class="fa fa-bars"></i></a>
		</div>

		<div id="user-nav">
			<ul class="btn-group">
				<li class="btn"><a title="" href="#"><i class="fa fa-user"></i> <span class="text">Profile</span></a></li>
				<li class="btn"><a title="" href="#"><i class="fa fa-cog"></i> <span class="text">Settings</span></a></li>
				<li class="btn"><a title="" href="../../index.html"><i class="fa fa-share"></i> <span class="text">Logout</span></a></li>
			</ul>
		</div>
		<div id="sidebar">
			<ul>
				<li class="active"><a href="./addash-index.html"><i class="fa fa-home"></i> <span>Dashboard</span></a></li>
				<li class="submenu">
					<a href="#"><i class="fa fa-file"></i> <span>Budget</span> <i class="arrow fa fa-chevron-right"></i></a>
					<ul>
						<li><a href="interface.html">Accounts</a></li>
						<li><a href="jquery-ui.html">Spending</a></li>
						<li><a href="buttons.html">Campaigns</a></li>
						<li><a href="buttons.html">Add Account</a></li>
					</ul>
				</li>
				<li class="submenu">
					<a href="#"><i class="fa fa-list"></i> <span>Campaigns</span> <i class="arrow fa fa-chevron-right"></i></a>
					<ul>
						<li><a href="interface.html">Athletes</a></li>
						<li><a href="jquery-ui.html">Kids</a></li>
						<li><a href="buttons.html">Summer Discounts</a></li>
						<li><a href="buttons.html"> Create New </a></li>
					</ul>
				</li>
		</div>

		<div id="content">
			<div id="content-header" class="mini">
				<h1>Dashboard</h1>
				<div id="breadcrumb">
					<a href="#" title="Go to Home" class="tip-bottom"><i class="fa fa-home"></i> Home</a>
					<a href="#" class="current">Dashboard</a>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 center" style="text-align: center;">
							<ul class="quick-actions">
								<li>
									<a href="#">
										<i class="icon-cal"></i> Campaign Schedules
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-shopping-bag"></i> Manage Accounts
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-database"></i> Target Inventory
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-people"></i> Target Users
									</a>
								</li>
							</ul>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-xs-12">
							<div class="widget-box">
								<div class="widget-title">
									<span class="icon"><i class="fa fa-signal"></i></span>
									<h5>Auction Stats</h5>
									<div class="buttons">
										<a href="#" class="btn"><i class="fa fa-refresh"></i> <span class="text">Update stats</span></a>
									</div>
								</div>
								<div class="widget-content">
									<div class="row">
										<div class="col-xs-12 col-sm-4">
											<ul class="site-stats">
													<li>
														<div class="cc"><i class="fa fa-repeat"></i>
															<strong>29</strong>
															<small>Total Impressions</small>
														</div>
													</li>
													<li>
													<div class="cc"><i class="fa fa-user"></i>
														<strong>1433</strong>
														<small>Total Bids</small>
													</div>
												</li>
												<li>
													<div class="cc"><i class="fa fa-arrow-right"></i>
														<strong>16</strong>
														<small>Bids Won</small>
													</div>
												</li>
												<li class="divider"></li>
												<li>
													<div class="cc"><i class="fa fa-shopping-cart"></i>
														<strong>259</strong>
														<small>Bids Dropped</small>
													</div>
												</li>
												<li>
													<div class="cc"><i class="fa fa-tag"></i>
														<strong>8650</strong>
														<small>Bids Converted</small>
													</div>
												</li>
												<li>
													<div class="cc"><i class="fa fa-tag"></i>
														<strong>8650</strong>
														<small>Dollars spent</small>
													</div>
												</li>
												<li>
													<div class="cc"><i class="fa fa-tag"></i>
														<strong>8650</strong>
														<small>Potential Customers</small>
													</div>
												</li>
											</ul>
										</div>
										<div class="col-xs-12 col-sm-8">
											<div class="chart"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
	<div id="footer" class="col-xs-12">
		2015 - 2016 &copy; Bidracer
	</div>
</div>
</body>

</html>
