
DirectoryIndex index.php index.html

{# Set up VirtualHosts - servername and documentroot are required. #}
{% for vhost_port in (item.1.ports if item.1.ports is defined else apache_listen_ports) %}
<VirtualHost *:{{ vhost_port }}>
  ServerName "{{ item.1.werr }}"
  DocumentRoot "{{ item.1.documentroot }}"
{% if item.1.serveradmin is defined %}
  ServerAdmin "{{ item.1.serveradmin }}"
{% endif %}
  <Directory "{{ item.1.documentroot }}">
    AllowOverride All
    Options -Indexes +FollowSymLinks
    Order allow,deny
    Allow from all
  {% if item.1.directory_extra_parameters is defined %}
  {% for param_name, param_value in item.1.directory_extra_parameters.items()|reverse %}
    "{{ param_name }}" "{{ param_value }}"
  {% endfor %}
  {% endif %}
  </Directory>
{% if item.1.extra_parameters is defined %}
{% for param_name, param_value in item.1.extra_parameters.items()|reverse %}
  {{ param_name }} {{ param_value }}
{% endfor %}
{% endif %}
</VirtualHost>
{% endfor %}
